$main:#CE7A58 !global;
$second:#903938 !global;
$three:#67A99F !global;
$fourth:#FFC600 !global;
$border:#e2e2e2;
$border1:#E9F0F8;
$text:#1E2F41;
$textDesc:#848484;
$link:#2A6EBB;
$bg:#EAA031;

$success:#7C964C;

$primary:#2D9CDB;
$success1:#219653;
$warning:#F2994A;
$danger:#EB5757;